@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 10px;
  vertical-align: baseline;
  font-family: "Microsoft YaHei";
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1em;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 104, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 117, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* HTML5 display-role reset for older browsers */
/* line 9, ../sass/screen.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* line 13, ../sass/screen.scss */
ol, ul {
  list-style: none;
}

/* line 16, ../sass/screen.scss */
blockquote, q {
  quotes: none;
}

/* line 19, ../sass/screen.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 24, ../sass/screen.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 29, ../sass/screen.scss */
html {
  font-size: 10px;
  font-family: "Microsoft YaHei";
}

/* line 30, ../sass/screen.scss */
body {
  background: #e0e0e0;
  min-width: 320px;
}

/* line 31, ../sass/screen.scss */
.left {
  float: left;
}

/* line 32, ../sass/screen.scss */
.right {
  float: right;
}

/* line 33, ../sass/screen.scss */
.clear {
  clear: both;
  line-height: 0px;
  height: 0px;
  font-size: 0px;
}

/*-------------------棣栭〉----------------------*/
/* line 38, ../sass/screen.scss */
.color_01, .color_02, .color_03 {
  width: 33.33%;
  height: 5px;
}

/* line 41, ../sass/screen.scss */
.color_01, .color_02, .color_03 {
  background: #ff4743;
  position: relative;
}

/* line 42, ../sass/screen.scss */
.color_02 {
  background: #ffa22a;
}

/* line 44, ../sass/screen.scss */
.color_03 {
  background: #a2c847;
}

/* line 46, ../sass/screen.scss */
.head_color {
  height: 5px;
}

/* line 47, ../sass/screen.scss */
.nav {
  background: #ff4743;
  background: rgba(255, 71, 67, 0.6);
  -moz-border-radius: 0px 0px 5px 0px;
  -webkit-border-radius: 0px 0px 5px 0px;
  border-radius: 0px 0px 5px 0px;
  padding: 10px;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
}

/* line 59, ../sass/screen.scss */
.nav > span {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 162px 101px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  display: inline-block;
}

/*
 @mixin rounded-corner($arc) {
    -moz-border-radius: $arc;
    -webkit-border-radius: $arc;
    border-radius: $arc;  
}
*/
/* line 77, ../sass/screen.scss */
.pd_10 {
  padding: 10px 0px;
}

/* line 78, ../sass/screen.scss */
.index_scroll {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* line 79, ../sass/screen.scss */
.example2 {
  margin: 0 auto;
}

/* line 80, ../sass/screen.scss */
.example2 ol {
  width: 5px;
  height: 5px;
}

/* line 81, ../sass/screen.scss */
.example2 ol {
  position: absolute;
  width: auto;
  height: 20px;
  bottom: 30px;
  right: 20px;
}

/* line 82, ../sass/screen.scss */
.example2 ol li {
  float: left;
  width: 10px;
  height: 10px;
  margin: 5px;
  background: #676871;
  background: rgba(255, 255, 255, 0.4);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 85, ../sass/screen.scss */
.example2 ol li.seleted {
  background: #fff;
}

/* line 87, ../sass/screen.scss */
.mt_20 {
  margin-top: 0.8rem;
}

/* line 88, ../sass/screen.scss */
.index_sec_one {
  width: 94%;
  margin: 0 auto;
}
/* line 89, ../sass/screen.scss */
.index_sec_one .index_sec_top {
  background: #fff;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  position: relative;
}
/* line 91, ../sass/screen.scss */
.index_sec_one .commit_1, .index_sec_one .commit {
  background: #f5f5f5;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}

/* line 94, ../sass/screen.scss */
.index_sec_top_box, .commit, .play_edit, .share_edit, .list_li_title, .line_all, .share_edit_1 {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  width: 100%;
}

/* line 95, ../sass/screen.scss */
.index_sec_img {
  width: 38%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin: 10px 2%;
  float: left;
}

/* line 96, ../sass/screen.scss */
.index_sec_img img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* line 97, ../sass/screen.scss */
.time_length {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 36%;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
}

/* line 98, ../sass/screen.scss */
.index_sec_title {
  width: 55%;
  float: left;
}

/* line 99, ../sass/screen.scss */
.index_sec_title_flex, .commit div, .user_info, .edit_1, .edit_2, .edit_3, .edit_4, .sedit_1, .sedit_2, .sedit_3, .sedit_4, .list_span_ft, .share_font, .myshare_right {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

/* line 100, ../sass/screen.scss */
.index_sec_title > h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #333;
  overflow: hidden;
  text-overflow: clip;
  font-weight: bold;
  height: 4rem;
}

/* line 102, ../sass/screen.scss */
.jingdutiao {
  width: 98%;
  height: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #eaeaea;
  position: relative;
}

/* line 103, ../sass/screen.scss */
.jingdutiao_hot {
  position: absolute;
  left: 0px;
  top: 0px;
  background: -webkit-linear-gradient(top, #ffc38c, #ea4c33);
  background: -moz-linear-gradient(top, #ffc38c, #ea4c33);
  background: -ms-linear-gradient(top, #ffc38c, #ea4c33);
  background: linear-gradient(top, #ffc38c, #ea4c33);
  width: 50%;
  height: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 110, ../sass/screen.scss */
.jingdutiao_point {
  width: 16px;
  height: 16px;
  position: absolute;
  right: -3px;
  top: -5px;
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-position: -72px 0px;
  background-size: 162px 101px;
}

/* line 115, ../sass/screen.scss */
.index_sec_info {
  font-weight: bold;
  margin-top: 1.3rem;
}

/* line 116, ../sass/screen.scss */
.index_sec_info > div {
  width: 49%;
  float: left;
}

/* line 117, ../sass/screen.scss */
.index_sec_info {
  line-height: 2rem;
  font-size: 1rem;
}

/* line 118, ../sass/screen.scss */
.view {
  line-height: 2rem;
}

/* line 119, ../sass/screen.scss */
.view > span {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-position: -35px 1px;
  background-size: 162px 101px;
  width: 20px;
  height: 9px;
  display: inline-block;
}

/* line 124, ../sass/screen.scss */
.zan, .hot {
  text-align: right;
}

/* line 125, ../sass/screen.scss */
.zan > span, .hot > span {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-position: -52px 1px;
  background-size: 162px 101px;
  width: 20px;
  height: 9px;
  display: inline-block;
}

/* line 130, ../sass/screen.scss */
.view, .zan, .hot {
  color: #f17665;
}

/* line 134, ../sass/screen.scss */
.commit {
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1rem;
  box-shadow: 2px 2px 5px #ccc;
  -moz-box-shadow: 2px 2px 5px #ccc;
  -webkit-box-shadow: 2px 2px 5px #ccc;
}

/* line 136, ../sass/screen.scss */
.commit div {
  text-align: center;
  border-right: 1px solid #c5c5c5;
  height: 16px;
  line-height: 16px;
  margin: 0.8rem 0px;
}
/* line 143, ../sass/screen.scss */
.commit div a {
  text-decoration: none;
  color: #666;
  height: 16px;
  line-height: 16px;
  display: inline-block;
}
/* line 149, ../sass/screen.scss */
.commit div a span {
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  margin-right: 5px;
}
/* line 156, ../sass/screen.scss */
.commit div a strong {
  float: left;
}
/* line 159, ../sass/screen.scss */
.commit div.none {
  border: none;
}

/* line 162, ../sass/screen.scss */
.commit > div > a > span.span_1, .commit > div > a > span.span_2, .commit > div > a > span.span_3, .commit > div > a > span.packup {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-position: -81px -34px;
  background-size: 162px 101px;
}

/* line 169, ../sass/screen.scss */
.commit > div > a > span.span_2 {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-position: -101px -34px;
  background-size: 162px 101px;
}

/* line 174, ../sass/screen.scss */
.commit > div > a > span.span_3 {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-position: -123px -34px;
  background-size: 162px 101px;
}

/* line 179, ../sass/screen.scss */
.commit > div > a > span.span_4 {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-position: -145px -34px;
  background-size: 162px 101px;
}

/* line 185, ../sass/screen.scss */
.commit > div > a > span.span_5 {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-position: 1px -34px;
  background-size: 162px 101px;
}

/* line 190, ../sass/screen.scss */
.commit > div > a > span.span_6 {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-position: -20px -34px;
  background-size: 162px 101px;
}

/* line 195, ../sass/screen.scss */
.commit > div > a > span.span_7 {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-position: -40px -34px;
  background-size: 162px 101px;
}

/* line 200, ../sass/screen.scss */
.commit > div > a > span.span_8 {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-position: -60px -34px;
  background-size: 162px 101px;
}

/* line 208, ../sass/screen.scss */
.WSCSlideWrapper {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

/* line 214, ../sass/screen.scss */
#WSCSlideWrapperTwo {
  width: 50%;
  position: relative;
  margin: 10px auto;
}

/* line 221, ../sass/screen.scss */
.loading {
  width: 100%;
  text-align: center;
  height: 2.8rem;
  padding: 10px 0px;
}
/* line 226, ../sass/screen.scss */
.loading span {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-position: -98px 1px;
  background-size: 162px 101px;
  width: 20px;
  height: 12px;
  display: inline-block;
}

/* line 237, ../sass/screen.scss */
.loading p {
  margin-top: 5px;
  font-size: 1rem;
}

/* line 238, ../sass/screen.scss */
a.ui-link {
  text-decoration: none;
}

/* line 239, ../sass/screen.scss */
.ui-link > div {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 1.2rem;
  z-index: 100;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

/*------------------渚ф粦瀵艰埅椤甸潰---------------------*/
/* line 243, ../sass/screen.scss */
.menu {
  background-color: #323332;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}

/* line 244, ../sass/screen.scss */
.menu_logo, .index .menu_logo, .list .menu_logo, .kind .menu_logo, .share .menu_logo, .collect .menu_logo, .menu_commit .menu_logo {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-size: 162px 101px;
  margin-top: 13px;
  display: inline-block;
}

/* line 250, ../sass/screen.scss */
.first li {
  line-height: 78px;
  border-bottom: 1px solid #818282;
  position: relative;
  padding-left: 1%;
  width: 99%;
}

/* line 251, ../sass/screen.scss */
.first li a, .second li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
}

/* line 252, ../sass/screen.scss */
.menu_logo, .index .menu_logo, .list .menu_logo, .kind .menu_logo, .share .menu_logo, .collect .menu_logo, .menu_commit .menu_logo, .menu_user {
  float: left;
  margin-right: 10px;
}

/* line 253, ../sass/screen.scss */
.menu_user {
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 3px solid #fff;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-top: 13px;
}

/* line 254, ../sass/screen.scss */
.menu_user img {
  width: 100%;
}

/* line 255, ../sass/screen.scss */
span.menu_jt {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-position: -141px 0px;
  background-size: 162px 101px;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  right: 10px;
}

/* line 262, ../sass/screen.scss */
.first li span.menu_jt {
  top: 36px;
}

/* line 263, ../sass/screen.scss */
.second li span.menu_jt {
  top: 20px;
}

/* line 264, ../sass/screen.scss */
.index .menu_logo {
  background-position: 0px -55px;
  width: 46px;
  height: 46px;
}

/* line 265, ../sass/screen.scss */
.list .menu_logo {
  background-position: -51px -55px;
  width: 46px;
  height: 46px;
}

/* line 266, ../sass/screen.scss */
.kind .menu_logo {
  background-position: -103px -55px;
  width: 46px;
  height: 46px;
}

/* line 267, ../sass/screen.scss */
.second {
  background: rgba(0, 0, 0, 0.3);
}

/* line 268, ../sass/screen.scss */
.second li {
  height: 50px;
  line-height: 50px;
}

/* line 269, ../sass/screen.scss */
.second .menu_logo {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-size: 244px 152px;
  margin-top: 8px;
  display: inline-block;
}

/* line 274, ../sass/screen.scss */
.second .menu_logo {
  width: 30px;
  height: 30px;
}

/* line 275, ../sass/screen.scss */
.share .menu_logo {
  background-position: -84px -45px;
}

/* line 276, ../sass/screen.scss */
.collect .menu_logo {
  background-position: 7px -45px;
}

/* line 277, ../sass/screen.scss */
.menu_commit .menu_logo {
  background-position: -25px -48px;
}

/* line 282, ../sass/screen.scss */
.second li.share a {
  color: #d8ff3f;
}

/* line 283, ../sass/screen.scss */
.second li.collect a {
  color: #ff9335;
}

/* line 284, ../sass/screen.scss */
.second li.menu_commit a {
  color: #31b4ff;
}

/* line 286, ../sass/screen.scss */
.menu_num {
  float: right;
  color: #999;
  font-size: 1.2rem;
  padding-right: 30px;
}

/* line 287, ../sass/screen.scss */
.menu_jt_top {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-size: 366px 228px;
  background-position: -288px 5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 30px;
  right: 20px;
}

/*------------------play椤甸潰---------------------*/
/* line 299, ../sass/screen.scss */
.play {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

/* line 305, ../sass/screen.scss */
.play img {
  width: 100%;
  height: auto;
}

/* line 307, ../sass/screen.scss */
.back_all, .back, .back_1 {
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
  line-height: 40px;
}

/* line 316, ../sass/screen.scss */
.back {
  position: absolute;
  left: 0px;
  top: 0px;
}

/* line 318, ../sass/screen.scss */
.back_span {
  background: url(../images/my.png) no-repeat;
  background-position: 0px 0px;
  background-size: 155px 59px;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}

/* line 327, ../sass/screen.scss */
.span_1, .span_2, .span_3, .packup {
  background: url(../images/my.png) no-repeat;
  background-size: 155px 59px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 24px;
  color: #fff;
  display: inline-block;
}

/* line 336, ../sass/screen.scss */
.span_2 {
  background-position: 0px -33px;
  width: 70px;
  height: 24px;
  padding-left: 4px;
}

/* line 338, ../sass/screen.scss */
.span_3 {
  background-position: -79px -33px;
  width: 70px;
  height: 24px;
  padding-left: 4px;
}

/* line 340, ../sass/screen.scss */
.intro_event {
  padding-left: 1.3rem;
}

/* line 341, ../sass/screen.scss */
.intro_event h2 {
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: #333;
}

/* line 342, ../sass/screen.scss */
.intro_event p {
  font-size: 1rem;
  color: #999;
  line-height: 1.9rem;
}

/* line 344, ../sass/screen.scss */
.intro_event > h2 {
  margin-top: 0.8rem;
}

/* line 346, ../sass/screen.scss */
.intro_1, .intro_2 {
  position: absolute;
  left: -8px;
  top: 10px;
}

/* line 351, ../sass/screen.scss */
.intro_2 {
  width: 100%;
}

/* line 352, ../sass/screen.scss */
.intro_event {
  margin-top: 2rem;
}

/* line 354, ../sass/screen.scss */
.commit .index_sec_info {
  border: 0px;
}

/* line 357, ../sass/screen.scss */
.zan > span, .hot > span {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-position: -69px -2px;
  background-size: 162px 101px;
  width: 20px;
  height: 9px;
  display: inline-block;
}

/* line 363, ../sass/screen.scss */
.packup {
  background-position: -134px 6px;
  width: 70px;
  height: 20px;
  line-height: 20px;
  color: #999;
  text-decoration: none;
}

/* line 366, ../sass/screen.scss */
.com_num {
  font-size: 1.4rem;
  line-height: 24px;
  margin-right: 15px;
  color: #999;
}

/* line 369, ../sass/screen.scss */
.user_commit {
  width: 98%;
  margin: 0 auto;
  border-bottom: 1px  solid #eaeaea;
  padding: 10px 0px;
}

/* line 371, ../sass/screen.scss */
.user_img {
  width: 9%;
  height: auto;
  margin-right: 1%;
  margin-top: 5px;
  float: left;
}

/* line 372, ../sass/screen.scss */
.user_img img {
  width: 100%;
  height: auto;
  border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
}

/* line 375, ../sass/screen.scss */
.user_info {
  width: 89%;
  float: left;
}

/* line 378, ../sass/screen.scss */
.user_name {
  line-height: 1.6rem;
  font-size: 1rem;
  color: #999;
}

/* line 379, ../sass/screen.scss */
.user_name > span {
  color: #34a0bf;
  margin-right: 10px;
}

/* line 380, ../sass/screen.scss */
.user_comtent {
  line-height: 1.6rem;
  font-size: 1.2rem;
  color: #666;
}

/* line 381, ../sass/screen.scss */
.bottom_fixed {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

/* line 382, ../sass/screen.scss */
.play_edit {
  height: 5.3rem;
  background: #202020;
}

/* line 383, ../sass/screen.scss */
.play_edit div a {
  display: inline-block;
}

/* line 384, ../sass/screen.scss */
.edit_1 {
  text-align: center;
  padding-top: 10px;
}

/* line 385, ../sass/screen.scss */
.edit_2 {
  text-align: center;
  padding-top: 10px;
}

/* line 386, ../sass/screen.scss */
.edit_3 {
  text-align: center;
  padding-top: 10px;
}

/* line 387, ../sass/screen.scss */
.edit_4 {
  text-align: center;
  padding-top: 10px;
}

/* line 390, ../sass/screen.scss */
.play_icon {
  display: block;
  width: 24px;
  height: 24px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-image: url(../images/my.png);
  background-repeat: no-repeat;
  background-size: 155px 59px;
  text-align: center;
}

/* line 396, ../sass/screen.scss */
.edit_1 .play_icon {
  background-position: -31px 6px;
}

/* line 397, ../sass/screen.scss */
.edit_2 .play_icon {
  background-position: -57px 8px;
}

/* line 398, ../sass/screen.scss */
.edit_3 .play_icon {
  background-position: -84px 6px;
}

/* line 399, ../sass/screen.scss */
.edit_4 .play_icon {
  background-position: -108px 5px;
}

/* line 407, ../sass/screen.scss */
.p_i_color_1 {
  background-color: #ff9335;
  margin: 0 auto;
}

/* line 408, ../sass/screen.scss */
.p_i_color_2 {
  background-color: #ff6955;
  margin: 0 auto;
}

/* line 409, ../sass/screen.scss */
.p_i_color_3 {
  background-color: #31b4ff;
  margin: 0 auto;
}

/* line 410, ../sass/screen.scss */
.p_i_color_4 {
  background-color: #d8ff3f;
  margin: 0 auto;
}

/* line 412, ../sass/screen.scss */
.edit_1 .ftcolor {
  color: #ff9335;
  display: inline-block;
  margin-top: 9px;
}

/* line 413, ../sass/screen.scss */
.edit_2 .ftcolor {
  color: #ff6955;
  display: inline-block;
  margin-top: 9px;
}

/* line 414, ../sass/screen.scss */
.edit_3 .ftcolor {
  color: #31b4ff;
  display: inline-block;
  margin-top: 9px;
}

/* line 415, ../sass/screen.scss */
.edit_4 .ftcolor {
  color: #d8ff3f;
  display: inline-block;
  margin-top: 9px;
}

/* line 417, ../sass/screen.scss */
.mb_5 {
  margin-bottom: 5.3rem;
}

/* line 418, ../sass/screen.scss */
.play_top {
  padding-top: 1.4rem;
}

/*------------------share椤甸潰---------------------*/
/* line 422, ../sass/screen.scss */
.mask {
  position: fixed;
  width: 100%;
  min-height: 640px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 8000;
  top: 0px;
  height: 100%;
}

/* line 432, ../sass/screen.scss */
.popfav {
  position: fixed;
  width: 94%;
  z-index: 9000;
  bottom: 6.2rem;
  left: 3%;
  height: auto;
}

/* line 440, ../sass/screen.scss */
.fav_pop_title {
  height: 3.5rem;
  background: #f5f5f5;
  line-height: 3.5rem;
  font-size: 1.6rem;
  text-align: center;
  color: #666;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

/* line 441, ../sass/screen.scss */
.share_edit {
  background: #fff;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}

/* line 445, ../sass/screen.scss */
.sedit_1 {
  text-align: center;
  padding: 10px 0px;
}

/* line 446, ../sass/screen.scss */
.sedit_2 {
  text-align: center;
  padding: 10px 0px;
}

/* line 447, ../sass/screen.scss */
.sedit_3 {
  text-align: center;
  padding: 10px 0px;
}

/* line 448, ../sass/screen.scss */
.sedit_4 {
  text-align: center;
  padding: 10px 0px;
}

/* line 451, ../sass/screen.scss */
.share_icon {
  display: block;
  width: 44px;
  height: 44px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-image: url(../images/share.png);
  background-repeat: no-repeat;
  background-size: 176px 27px;
  text-align: center;
}

/* line 457, ../sass/screen.scss */
.sedit_1 .share_icon {
  background-position: 9px 11px;
}

/* line 458, ../sass/screen.scss */
.sedit_2 .share_icon {
  background-position: -38px 7px;
}

/* line 459, ../sass/screen.scss */
.sedit_3 .share_icon {
  background-position: -86px 10px;
}

/* line 460, ../sass/screen.scss */
.sedit_4 .share_icon {
  background-position: -136px 9px;
}

/* line 461, ../sass/screen.scss */
.share_qq {
  padding-bottom: 10px;
}

/* line 467, ../sass/screen.scss */
.share_color_1 {
  background-color: #00ad59;
  margin: 0 auto;
}

/* line 468, ../sass/screen.scss */
.share_color_2 {
  background-color: #03a2eb;
  margin: 0 auto;
}

/* line 469, ../sass/screen.scss */
.share_color_3 {
  background-color: #ff4d23;
  margin: 0 auto;
}

/* line 470, ../sass/screen.scss */
.share_color_4 {
  background-color: #cccccc;
  margin: 0 auto;
}

/* line 473, ../sass/screen.scss */
.share_edit .ftcolor {
  display: inline-block;
  margin-top: 10px;
  color: #666;
  font-size: 1rem;
}

/* line 475, ../sass/screen.scss */
.share_edit > div > a {
  padding: 10px 0.5rem;
  display: inline-block;
}
/* line 479, ../sass/screen.scss */
.share_edit > div > a:hover {
  background: #eaeaea;
}
/* line 482, ../sass/screen.scss */
.share_edit > div > a:active {
  background: #eaeaea;
}

/*------------------姒滃崟椤甸潰---------------------*/
/* line 488, ../sass/screen.scss */
.list {
  width: 100%;
}

/* line 489, ../sass/screen.scss */
.list_li {
  padding: 1.3rem;
}

/* line 490, ../sass/screen.scss */
.list_li li {
  float: left;
  width: 49%;
  margin-right: 2%;
  margin-bottom: 2%;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 491, ../sass/screen.scss */
.list_li li:nth-child(2n) {
  margin-right: 0px;
}

/* line 492, ../sass/screen.scss */
.list_li li a {
  text-decoration: none;
}

/* line 493, ../sass/screen.scss */
.list_li_img {
  width: 100%;
  height: auto;
  overflow: hidden;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

/* line 494, ../sass/screen.scss */
.list_li_img img {
  width: 100%;
  height: auto;
  overflow: hidden;
  border: none;
}

/* line 496, ../sass/screen.scss */
.list_li_title {
  height: 2.6rem;
  line-height: 2.6rem;
  font-size: 1rem;
  color: #666;
  position: relative;
}

/* line 501, ../sass/screen.scss */
.list_span_all, .list_span_1, .list_span_2, .list_span_3, .list_span_4 {
  display: block;
  width: 3.1rem;
  height: 1.7rem;
  background-image: url(../images/list.png);
  background-repeat: no-repeat;
  background-size: 152px 16px;
  position: absolute;
  font-style: italic;
  font-size: 0.7rem;
  text-align: center;
  line-height: 1rem;
}

/* line 511, ../sass/screen.scss */
.list_span_1 {
  background-position: 0px 0px;
  left: -5px;
  top: 7px;
  color: #fff;
}

/* line 513, ../sass/screen.scss */
.list_span_2 {
  background-position: -61px 0px;
  left: -5px;
  top: 7px;
  color: #fff;
}

/* line 514, ../sass/screen.scss */
.list_span_3 {
  background-position: -119px 0px;
  left: -5px;
  top: 7px;
  color: #fff;
}

/* line 517, ../sass/screen.scss */
.list_span_4 {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #e9e9e9;
  color: #999;
  width: 30px;
  height: 1.7rem;
  display: inline-block;
  line-height: 1.7rem;
  left: 7px;
  top: 3px;
}

/* line 519, ../sass/screen.scss */
.list_span_ft {
  padding-left: 4rem;
  font-size: 1rem;
  color: #666;
}

/* line 521, ../sass/screen.scss */
.share_width {
  width: 90%;
  margin: 0 auto;
}

/* line 522, ../sass/screen.scss */
.line_all {
  border-bottom: 1px solid #4ec326;
  margin: 20px 0px;
}

/* line 523, ../sass/screen.scss */
.line_1 {
  height: 3px;
  width: 1px;
  border-left: 1px solid #4ec326;
}

/* line 524, ../sass/screen.scss */
.share_font {
  width: 100%;
  border: 0px none;
}

/* line 525, ../sass/screen.scss */
.line_2 {
  height: 3px;
  width: 1px;
  border-right: 1px solid #4ec326;
}

/* line 526, ../sass/screen.scss */
.share_text {
  height: 20px;
  border: 0px;
  width: auto;
}

/*------------------share椤甸潰---------------------*/
/* line 530, ../sass/screen.scss */
.share_local a {
  text-decoration: none;
  color: #363636;
  display: inline-block;
  border-bottom: 1px solid #e3e3e3;
  padding: 20px 0px;
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

/* line 532, ../sass/screen.scss */
.weizhi, .local, .far {
  height: 20px;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  margin-right: 10px;
}

/* line 534, ../sass/screen.scss */
.local {
  background-image: url(../images/weizhi.png);
}

/* line 535, ../sass/screen.scss */
.far {
  background-image: url(../images/circularmap.png);
}

/* line 536, ../sass/screen.scss */
.share_local a span {
  font-size: 1.2rem;
  color: #a2a2a2;
}

/* line 540, ../sass/screen.scss */
.share_demo_img {
  width: 19%;
  height: auto;
  overflow: hidden;
  margin-right: 1%;
  float: left;
}

/* line 541, ../sass/screen.scss */
.share_demo img {
  width: 100%;
  height: auto;
}

/* line 542, ../sass/screen.scss */
.share_demo_font {
  height: 4rem;
  line-height: 4rem;
  font-size: 1.8rem;
  color: #333;
  width: 79%;
  float: right;
}

/*------------------鎴戠殑鍒嗕韩椤甸潰---------------------*/
/* line 550, ../sass/screen.scss */
.commint_user {
  background-image: url(../images/ms_01.png);
  background-repeat: repeat-y;
  height: 100%;
  position: absolute;
  left: 13px;
  width: 4px;
  background-size: 4px;
}

/* line 551, ../sass/screen.scss */
.commer {
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 3px solid #fff;
  overflow: hidden;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: -1.2rem;
  top: 0.9rem;
}

/* line 552, ../sass/screen.scss */
.commer img {
  width: 100%;
  height: auto;
}

/* line 553, ../sass/screen.scss */
.myshare_left {
  width: 2.2rem;
  text-align: center;
}

/* line 555, ../sass/screen.scss */
.myshare_right {
  position: relative;
}

/* line 557, ../sass/screen.scss */
.myshare_right .commit {
  height: 100%;
}

/* line 559, ../sass/screen.scss */
.myshare_content {
  width: 100%;
  float: left;
  box-shadow: 0px 2px 5px #ccc;
  -moz-box-shadow: 0px 2px 5px #ccc;
  -webkit-box-shadow: 0px 2px 5px #ccc;
}

/* line 561, ../sass/screen.scss */
.myshare_content .index_sec_title {
  width: 40%;
}

/* line 563, ../sass/screen.scss */
.mysharetime {
  font-size: 1rem;
  color: #999;
  padding: 5px 10px;
}

/* line 564, ../sass/screen.scss */
.mysharetime span {
  color: #ff6666;
  margin-left: 10px;
}

/* line 567, ../sass/screen.scss */
.myshar_play {
  width: 24px;
  height: 24px;
  background-position: center center;
  background-color: #f5f5f5;
  border: 1px solid #ababab;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  display: inline-block;
  position: relative;
  margin-top: 1.2rem;
  margin-right: 1rem;
  float: right;
}

/* line 569, ../sass/screen.scss */
.myshar_play img {
  position: absolute;
  left: 9px;
  top: 5px;
}

/* line 570, ../sass/screen.scss */
.myshare_right .index_sec_title > h2 {
  color: #666;
}

/* line 571, ../sass/screen.scss */
.mysharecommit_conten {
  font-size: 1.3rem;
  color: #333;
  line-height: 1.7rem;
  padding-left: 10px;
}

/* line 574, ../sass/screen.scss */
.myshare_right_right {
  width: 89%;
  float: right;
}

/* line 577, ../sass/screen.scss */
.point {
  background-image: url(../images/ms_02.png);
  background-repeat: no-repeat;
  background-size: 7px 14px;
  width: 7px;
  height: 14px;
  position: absolute;
  left: -7px;
  top: 12px;
}

/* line 580, ../sass/screen.scss */
.view_1 {
  line-height: 2rem;
}

/* line 581, ../sass/screen.scss */
.view_1 > span {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-position: -35px -16px;
  background-size: 162px 101px;
  width: 20px;
  height: 9px;
  display: inline-block;
}

/* line 587, ../sass/screen.scss */
.zan_1 {
  text-align: right;
}

/* line 588, ../sass/screen.scss */
.zan_1 > span {
  background-image: url(../images/index.png);
  background-repeat: no-repeat;
  background-position: -52px -16px;
  background-size: 162px 101px;
  width: 20px;
  height: 9px;
  display: inline-block;
}

/* line 593, ../sass/screen.scss */
.view_1, .zan_1 {
  color: #999;
}

/* line 595, ../sass/screen.scss */
.fav_pop_title_1 {
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.6rem;
  padding-left: 10px;
  color: #666;
}

/* line 598, ../sass/screen.scss */
.commit_page {
  background: #f5f5f5;
  border: 1px solid #ccc;
  width: 95%;
  margin: 20px auto 0px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
}

/* line 600, ../sass/screen.scss */
.freesay {
  background: #fff;
  border-bottome: 1px solid #ededed;
  width: 100%;
  height: 100px;
  border: 0px none;
}

/* line 601, ../sass/screen.scss */
.com_text {
  border-bottom: 1px solid #ccc;
}

/* line 603, ../sass/screen.scss */
.perfet {
  width: 15px;
  height: 15px;
  background: #f5f5f5;
  border: 1px solid #bababa;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  position: relative;
}

/* line 604, ../sass/screen.scss */
.perfet img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0px;
  top: 3px;
}

/* line 605, ../sass/screen.scss */
.share_edit_1 a {
  display: inline-block;
}

/* line 606, ../sass/screen.scss */
.release {
  background: #2ca4d6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 80%;
  height: 30px;
  line-height: 30px;
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
  display: block;
  margin: 20px auto;
  text-decoration: none;
}

/* line 611, ../sass/screen.scss */
.perfet_1 {
  background-color: #00ac59;
  border: 0px;
}

/* line 612, ../sass/screen.scss */
.perfet_2 {
  background-color: #06a5ee;
  border: 0px;
}

/* line 613, ../sass/screen.scss */
.perfet_3 {
  background-color: #ff4f24;
  border: 0px;
}
